.noAc {
	flex: 1;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.showOnHome {
	height: 463px;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.ball {
	height: 4.3rem;
	width: 4.3rem;
	background-image: url("../../../assets/no-activity.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.noAcText {
	margin-top: 0.8rem;
	font-size: 1rem;
	color: #bababa;
	font-family: "Source Sans Pro", sans-serif;
}
