$green: #d5ef7f;

.background {
	height: 100%;
	background: url("../../assets/Street-Dance-01.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	.login {
		position: relative;
		overflow: hidden;
		height: 100%;
		background-color: rgba(133, 96, 169, 0.7);

		.header {
			margin-top: 4.9rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			.slogan {
				color: $green;
				font-size: 1.1rem;
				font-family: "Source Sans Pro", sans-serif;
			}
			.name {
				color: $green;
				font-size: 1.7rem;
				font-weight: bold;
				font-family: "Source Sans Pro", sans-serif;
				margin-top: 1.1rem;
			}
			.svg-wrapper {
				margin-top: 2.6rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $green;
				width: 4rem;
				height: 4rem;
				border-radius: 2.3rem;
			}
		}
		.input {
			width: 15rem;
			margin: 8.4rem auto 0;
			.input-wrapper {
				padding-left: 1rem;
				display: flex;
				align-items: center;
				width: 100%;
				height: 2.9rem;
				border: 1px solid #fff;
				border-radius: 1.4rem;
				input {
					margin-left: 1rem;
					background: transparent;
					outline: none;
					border: 0;
					font-family: "Source Sans Pro", sans-serif;
				}
			}

			.input-wrapper-username {
				background-color: rgba(255, 255, 255, 0.2);
				margin-bottom: 16px;
			}
			.input-wrapper-password {
				background-color: transparent;
			}
		}
		.bottom {
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 4.6rem;
			color: #453257;
			text-align: center;
			line-height: 4.5rem;
			background-color: $green;
		}
	}
}
