.searchPage {
	display: flex;
	flex-shrink: 0;
	width: 17.1rem;
	height: 100%;
	flex-direction: column;
}

.searchPage_hide {
	display: none;
}
.pickWrapper {
	box-sizing: border-box;
	height: 36.1rem;
	background-color: #453257;
}
