.toast {
	width: 100%;
	min-height: 2.3rem;
	line-height: 2.3rem;
	background-color: #e5f7a9;
	opacity: 0.8;
	text-align: center;
	font-weight: 600;
	color: #8560a9;
	font-size: 1rem;
	position: sticky;
	top: 6.3rem;
	z-index: 999;
}
