.bottomBar {
	height: 4rem;
	display: flex;
	width: 100%;
	margin-top: 1.1rem;
}

.left {
	background-color: #8560a9;
	width: 12.9rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right {
	color: #788c36;
	font-size: 1rem;
	font-weight: 600;
	background-color: #d5ef7f;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.commentSVG {
	margin-right: 3.5rem;
	height: 1.9rem;
	width: 1.9rem;
	background-image: url("../../../../assets/comment-single.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.likeSVG {
	height: 1.9rem;
	width: 1.9rem;
	background-image: url("../../../../assets/like-black.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.goingSVG {
	background-image: url("../../../../assets/light-green-check.svg");

	height: 1.9rem;
	width: 1.9rem;
	margin-right: 0.9rem;
}

.likeRedSVG {
	height: 1.9rem;
	width: 1.9rem;
	background-image: url("../../../../assets/like.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.amGoing {
	background-image: url("../../../../assets/check.svg");

	height: 1.9rem;
	width: 1.9rem;
	margin-right: 0.9rem;
}
