$font: "Source Sans Pro", sans-serif;

.datePicker {
	text-align: center;
	height: 12.1rem;
	box-sizing: border-box;
	padding: 0.7rem 1.1rem 0;
}

.date {
	font-weight: 600;
	font-family: $font;
	width: 1.9rem;
	color: #ac8ec9;
	font-size: 0.9rem;
}

.line {
	margin: 0.1rem auto 0;
	height: 1px;
	width: 1.9rem;
	background-color: #8560a9;
}

.filterItems {
	height: 6rem;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.1rem;
	align-content: space-between;
}

.ItemWrapper {
	margin-right: 0.2rem;
	color: #fff;
	line-height: 1.7rem;
	height: 1.7rem;
	padding: 0 0.3rem 0;
	border-radius: 0.9rem;
	border: 1px solid transparent;
}

.ItemWrapperSelect {
	background-color: #e5f7a9;
	color: #453257 !important;
	border: 1px solid #e5f7a9;
}

.filterItem {
	font-family: $font;
	font-weight: 600;
	font-size: 1rem;
}

.dateWrapper {
	padding: 0 0.6rem 0;
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 0.5rem;

	height: 2.3rem;
	background-color: white;
	input {
		outline: none;
		height: 1.3em;
		width: 5.4rem;
	}
}
.focus::-webkit-datetime-edit {
	background-color: #e5f7a9;
}

.tra {
	position: absolute;
	left: 1rem;
	top: -11px;
	width: 0;
	height: 0;
	border-left: 0.7rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-bottom: 0.8rem solid #fff;
}

.right {
	flex-shrink: 0;
	width: 1.1rem;
	height: 0.9rem;
	background-image: url("../../../../assets/date-from.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.shortline {
	margin: 0 3px 0;
	flex-shrink: 0;
	width: 0.4rem;
	height: 1px;
	background-color: #000000;
	opacity: 0.2;
}

.left {
	flex-shrink: 0;
	width: 1.1rem;
	height: 0.9rem;
	background-image: url("../../../../assets/date-to.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.datebox {
	overflow: hidden;
	width: 75px;
}
