.search {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	background-color: #bababa;
}

.searchWithCondition {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	background-color: #d5ef7f;
}
.searchWrapper {
	display: flex;
	align-items: center;
	margin-bottom: 0.2rem;
}
.searchMirror {
	width: 1rem;
	height: 1rem;

	background-image: url("../../../../assets/search-black.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.searchText {
	font-family: "Source Sans Pro", sans-serif;
	color: #666666;
	font-weight: 600;
	font-size: 1.1rem;
}

.searchCondition {
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.7rem;
	color: #8560a9;
}
