.commentInput {
	height: 4rem;
	width: 100%;
	display: flex;
	margin-top: 1.1rem;
	font-family: "Source Sans Pro", sans-serif;
}

.left {
	background-color: #8560a9;
	width: 18.3rem;
	height: 100%;
	display: flex;
	align-items: center;
}

.clear {
	margin-left: 0.7rem;
	margin-right: 0.7rem;
	height: 1.2rem;
	width: 1.2rem;
	background-image: url("../../../../assets/cross.svg");
}

.inputWrapper {
	display: flex;

	align-items: center;
	height: 2.3rem;
	width: 14.8rem;
	border-radius: 1.4rem;
	background-color: #fff;
	input {
		margin-left: 1.4rem;
		outline: none;
		font-size: 1rem;
	}
}

.right {
	background-color: #d5ef7f;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.send {
	width: 2rem;
	height: 1.7rem;
	background-size: 100% 100%;
	background-image: url("../../../../assets/send.svg");
	background-repeat: no-repeat;
}
