.cardWrapper {
	width: 100%;
	box-sizing: border-box;
	padding-left: 1.1rem;
	padding-top: 1.1rem;
}
.card {
	box-sizing: border-box;
	margin-right: 1.1rem;
	width: 20.7rem;
	margin-bottom: 1.3rem;
}
.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 1.4rem;
}

.topLeft {
	display: flex;
	align-items: center;
	height: 100%;
}
.avatar {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 1.4rem;
	width: 1.4rem;
	border-radius: 1.4rem;
}

.username {
	font-size: 0.9rem;
	font-weight: 600;
	font-family: "Source Sans Pro", sans-serif;
	color: #67616d;
	margin-left: 0.6rem;
}

.channelName {
	padding: 0.2rem 0.5rem 0.2rem;
	color: #8560a9;
	font-weight: 400;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 12px;
	line-height: 1.4rem;
	text-align: center;
	border: 1px solid #d3c1e5;
	border-radius: 0.8rem;
	height: 1.4rem;
}
.titleWrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 0.8rem;
	height: 5rem;
	width: 100%;
}
.titleImage {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 4.6rem;
	height: 4.6rem;
}
.titleLeft {
	position: relative;

	width: 15.4rem;
	height: 100%;
	display: flex;
}
.title {
	width: 15.4rem;
	height: 3rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.3rem;
	color: #453257;
	font-weight: 300;
}

.titleTimeWrapper {
	align-items: center;
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.1rem;
}

.titleClock {
	background: url("../../assets/time.svg");
	width: 0.9rem;
	height: 0.9rem;
}
.tilteTime {
	margin-left: 0.4rem;
	font-family: "Source Sans Pro", sans-serif;
	color: #8560a9;
	font-size: 0.9rem;
}
.content {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	color: #67616d;
	margin-top: 0.9rem;

	width: 15.4rem;
}

.status {
	margin-top: 0.9rem;
	height: 1.1rem;
	width: 100%;
	display: flex;
}
.goingWrapper {
	display: flex;
	align-items: center;
	height: 1.1rem;
	width: 5.7rem;
}

.check {
	width: 0.9rem;
	height: 0.7rem;
	background: url("../../assets/check-outline.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.checked {
	width: 0.9rem;
	height: 0.7rem;
	background: url("../../assets/check.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.going {
	margin-left: 0.4rem;
	color: #ac8ec9;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.9rem;
}

.likeWrapper {
	margin-left: 1.3rem;
	display: flex;
	align-items: center;
	height: 1.1rem;
}

.heart {
	background: url("../../assets/like-outline.svg");
	width: 0.7rem;
	height: 0.7rem;
}
.liked {
	background: url("../../assets/like.svg");
	width: 0.7rem;
	height: 0.7rem;
}

.border {
	height: 0.1rem;
	background-color: #e8e8e8;
}
