.mePage {
	height: 100%;
	display: flex;
	flex-direction: column;
}

// .noActivity {
// 	flex: 1;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

.userInfo {
	height: 18.6rem;
	border-bottom: 0.1rem solid #e8e8e8;
}

.basicInfo {
	box-sizing: border-box;
	border-bottom: 0.1rem solid #e8e8e8;
	height: 15.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.avatar {
	height: 5rem;
	width: 5rem;
	border-radius: 2.5rem;
	border: 0.1rem solid #8560a9;
	background-size: 100%, 100%;
	background-repeat: no-repeat;
}

.username {
	font-family: "Source Sans Pro", sans-serif;
	color: #67616d;
	font-size: 1.7rem;
	margin-top: 1.7rem;
}

.emailWrapper {
	height: 1.3rem;
	width: 100%;
	text-align: center;
	margin-top: 0.8rem;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	color: #8560a9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.emailBox {
	width: 1.3rem;
	height: 1.1rem;
	background-image: url("../../assets/email.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.email {
	vertical-align: middle;
	margin-left: 0.4rem;
	font-weight: 400;
	line-height: 100%;
}

.otherInfo {
	height: 3.2rem;
	display: flex;
	align-items: center;

	justify-content: center;
}

.infoWrapper {
	justify-content: space-between;
	position: relative;
	display: flex;
	height: 1.1rem;
	width: 17.5rem;
}

.oneInfo {
	line-height: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.9rem;
}

.greenLike {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/like-green.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.greenText {
	color: #aecb4f;
}

.greenGoing {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/check.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.brownGoing {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/brown-going.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.greenPast {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/past.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.brownPast {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/past-outline.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.brownLike {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/like-brown.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.brownText {
	color: #8c8c8c;
}

.leftDivide {
	background-color: #e8e8e8;
	position: absolute;
	left: 5.5rem;
	height: 0.8rem;
	width: 0.1rem;
	top: 0.1rem;
}

.rightDivide {
	background-color: #e8e8e8;
	position: absolute;
	right: 5.1rem;
	height: 0.8rem;
	width: 0.1rem;
	top: 0.1rem;
}
