.header {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	height: 2.9rem;
	background-color: #8560a9;
}

.largeMirror {
	height: 1.5rem;
	width: 1.5rem;
	background-repeat: no-repeat;
	background-image: url("../../assets/search.svg");
	margin-right: 8.1rem;
	margin-left: 1.4rem;
}

.home {
	height: 1.5rem;
	width: 1.5rem;
	background-repeat: no-repeat;
	background-image: url("../../assets/home.svg");
	margin-right: 8.1rem;
	margin-left: 1.4rem;
}

.avator {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0.85rem;
	margin-left: 7.9rem;
	width: 1.7rem;
	height: 1.7rem;
}
