.comment {
	box-sizing: border-box;
	padding: 1.1rem 1.1rem 0;
	display: flex;
	width: 100%;
}

.commentLeft {
	width: 3.2rem;
	height: 100%;
}

.commentAvatar {
	height: 2.3rem;
	width: 2.3rem;
	border-radius: 1.15rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.commentRight {
	flex: 1;
}
.rightTop {
	position: relative;
	height: 1.1rem;
	line-height: 1.1rem;
}

.username {
	color: #8560a9;
	font-size: 0.9rem;
	margin-right: 0.9rem;
}
.commentTime {
	color: #bababa;
	font-size: 0.7rem;
}

.reply {
	top: 0;
	position: absolute;
	right: 0;
	height: 1.1rem;
	width: 1.3rem;
	background-image: url("../../../../assets/reply.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.commentContent {
	color: #67616d;
	font-size: 1rem;
}
