.header {
	position: sticky;
	top: 0;
	z-index: 999;
}

.basicInfo {
	padding: 1.1rem 1.1rem 1.8rem;
	font-family: "Source Sans Pro", sans-serif;
	border-bottom: 1px solid #e8e8e8;
}

.channelName {
	width: fit-content;
	padding: 0.2rem 0.5rem 0.2rem;
	color: #8560a9;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.4rem;
	text-align: center;
	border: 1px solid #d3c1e5;
	border-radius: 0.8rem;
	height: 1.4rem;
}

.title {
	margin-top: 0.9rem;
	font-weight: 600;
	color: #453257;
	font-size: 1.4rem;
}

.userInfo {
	height: 2.6rem;
	display: flex;
	margin-top: 1.7rem;
}
.userInfoLeft {
	height: 100%;
	width: 2.6rem;
	border-radius: 2.6rem;
	margin-right: 0.9rem;
	background-size: 100% 100%;
}
.userInfoRight {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.username {
	font-style: 1rem;
	color: #67616d;
}
.publishTime {
	color: #bababa;
}

.pick {
	position: sticky;
	top: 2.9rem;
	height: 3.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e8e8e8;
	background-color: #fff;
	z-index: 999;
}

.infoWrapper {
	justify-content: space-between;
	position: relative;
	display: flex;
	height: 1.1rem;
	width: 20rem;
}

.oneInfo {
	line-height: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.9rem;
}

.greenLike {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/like-green.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.greenText {
	color: #aecb4f;
}

.greenGoing {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/check.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.greenComment {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/comment.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.brownComment {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/comment-outline.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.brownDetail {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/info-outline.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.greenDetail {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/info.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.brownPeople {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/people-outline.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.greenPeople {
	margin-right: 0.5rem;
	height: 1.1rem;
	width: 1rem;
	background-image: url("../../assets/people.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.brownText {
	color: #8c8c8c;
}
.greenText {
	color: #aecb4f;
}
.leftDivide {
	background-color: #e8e8e8;
	position: absolute;
	left: 5.15rem;
	height: 0.8rem;
	width: 0.1rem;
	top: 0.1rem;
}

.rightDivide {
	background-color: #e8e8e8;
	position: absolute;
	right: 6.5rem;
	height: 0.8rem;
	width: 0.1rem;
	top: 0.1rem;
}

.ImageContainer {
	max-width: 100%;
	height: 9.1rem;
	display: flex;
	padding-left: 1.1rem;
	align-items: center;
	overflow: scroll;
}
.ImageContainer::-webkit-scrollbar {
	display: none;
}
.image {
	background-size: 100% 100%;
	margin-right: 0.9rem;
	flex-shrink: 0;
	width: 12.9rem;
	height: 7.1rem;
}

.rightPadding {
	flex-shrink: 0;
	height: 100%;
	width: 1.1rem;
}

.contentWrapper {
	overflow: hidden;
	position: relative;
	height: 12.9rem;
	border-bottom: 1px solid #e8e8e8;
}
.content {
	color: #67616d;
	font-size: 1rem;
	padding: 0 1.1rem 0;
}

.mask {
	width: 100%;
	position: absolute;
	top: 0;
	height: 12.9rem;
	background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), #fff);
	background-image: -moz-linear-gradient(top, hsla(0, 0%, 100%, 0), #fff);
	background-image: -o-linear-gradient(top, hsla(0, 0%, 100%, 0), #fff);
	background-image: linear-gradient(top, hsla(0, 0%, 100%, 0), #fff);
}

.viewAll {
	right: 1.1rem;
	bottom: 15px;
	border-radius: 0.9rem;
	position: absolute;
	height: 1.7rem;
	width: 4.7rem;
	background-color: #d5ef7f;
	color: #67616d;
	font-weight: 600;
	text-align: center;
	line-height: 1.7rem;
	font-size: 0.7rem;
}

.timeInfo {
	height: 9.8rem;
	border-bottom: 1px solid #e8e8e8;
}

.when {
	margin-top: 1.2rem;
	margin-left: 1.1rem;
	display: flex;
	color: #8560a9;
	font-size: 1.1rem;
	font-weight: 600;
	align-items: center;
}
.shortline {
	background-color: #8560a9;
	width: 0.3rem;
	height: 1.3rem;
	margin-right: 0.3rem;
}

.timemiddle {
	margin-top: 15px;
	display: flex;
	height: 5.3rem;
	width: 100%;
	justify-content: center;
}

.timeleft {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #e8e8e8;
	color: #67616d;
	font-size: 1.1rem;
}
.timeright {
	flex: 1;
	display: flex;
	box-sizing: border-box;
	padding-top: 9px;

	justify-content: center;

	color: #67616d;
	font-size: 1.1rem;
}

.startTime {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.4rem;
}

.startArrow {
	margin-right: 3px;
	width: 1.3rem;
	height: 1.2rem;
	background-image: url("../../assets/date-from.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.endArrow {
	margin-right: 3px;
	width: 1.3rem;
	height: 1.2rem;
	background-image: url("../../assets/date-to.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.timeText {
	color: #aecb4f;
	font-size: 2.3rem;
}

.addressInfo {
	height: 13.8rem;
	border-bottom: 1px solid #e8e8e8;
}

.address {
	margin-top: 0.6rem;
	margin-left: 1.1rem;
	display: flex;
	flex-direction: column;
	color: #67616d;
	font-size: 1rem;
}

.map {
	margin-top: 0.6rem;
	background-size: 100% 100%;
	border-radius: 10px;
	margin-left: 1.1rem;
	height: 6.3rem;
	width: 20.6rem;
	background-image: url("../../assets/gmap.png");
}

.goingAndLikes {
	height: 8.2rem;
	padding-left: 1.1rem;
	border-bottom: 1px solid #e8e8e8;
}

.goings {
	height: 4.1rem;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	align-items: center;
}
.likes {
	height: 4.1rem;
	display: flex;
	align-items: center;
}

.check {
	height: 0.9rem;
	width: 1.3rem;
	background-image: url("../../assets/purple-going.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.avatar {
	background-size: 100% 100%;
	height: 1.7rem;
	width: 1.7rem;
	border-radius: 0.85rem;
	background-color: blue;
	margin-right: 0.5rem;
}

.goingText {
	width: 39px;
	margin-left: 0.4rem;
	margin-right: 1.2rem;
	font-size: 0.9rem;
	color: #67616d;
}

.like {
	height: 0.9rem;
	width: 1.3rem;
	background-image: url("../../assets/like-outline.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.showAll {
	padding: 0 1.1rem 0;
	width: 100%;
	box-sizing: border-box;
}
