$font: "Source Sans Pro", sans-serif;

.channelPicker {
	text-align: center;
}
.channel {
	font-family: $font;
	font-weight: 600;
	font-size: 0.9rem;
	width: 3.6rem;
	color: #ac8ec9;
}

.line {
	margin: 0.1rem auto 0;
	height: 1px;
	width: 3.7rem;
	background-color: #8560a9;
}

.items {
	padding-left: 1.1rem;
	margin-top: 0.9rem;
	display: flex;
	flex-wrap: wrap;
}

.itemWrapper {
	margin-bottom: 0.6rem;
	margin-right: 0.8rem;
	border: 1px solid #d3c1e5;
	border-radius: 0.9rem;
	line-height: 1.7rem;
	text-align: center;
	color: #ffffff;
	height: 1.7rem;
	padding: 0 0.8rem 0;
}

.itemWrapperSelect {
	color: #453257;
	background-color: #e5f7a9;
	margin-bottom: 0.6rem;
	margin-right: 0.8rem;
	border: 1px solid #d3c1e5;
	border-radius: 0.9rem;
	line-height: 1.7rem;
	text-align: center;
	height: 1.7rem;
	padding: 0 0.8rem 0;
}
.item {
	font-family: $font;
	font-size: 0.9rem;
	font-weight: 400;
}
