$font: "Source Sans Pro", sans-serif;

.searchResult {
	box-sizing: border-box;
	height: 4.9rem;
	padding: 1rem 1.1rem 0 1.9rem;
	background-color: #faf9fc;
}

.searchTop {
	height: 1.7rem;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.searchText {
	color: #8560a9;
	font-family: $font;
	font-size: 1.1rem;
	font-weight: 600;
}

.clearSearch {
	height: 100%;
	width: 6rem;
	background-color: #d5ef7f;
	border-radius: 0.9rem;
	text-align: center;
	line-height: 1.7rem;
	color: #67616d;
	font-family: $font;
	font-weight: 600;
	font-size: 0.7rem;
}

.clearText {
	width: 100%;
	text-align: center;
	transform: scale(0.8, 0.8);
}

.searchBottom {
	color: #67616d;
	text-align: left;
	margin-top: 0.6rem;
	font-size: 12px;
	font-family: $font;
}
